body {

margin:0;
background:black;
font-family:"Courier New", monospace;
color:#00ff66;

}


#game {

height:100vh;
overflow:hidden;

}


#space {

position:absolute;
width:100%;
height:100%;

background:
radial-gradient(circle,white 1px,transparent 2px),
#000015;

}


#earth {

position:absolute;
bottom:50px;
left:80px;

font-size:180px;

}


#moon {

position:absolute;
top:100px;
right:250px;

font-size:80px;

}


#mars {

position:absolute;
top:200px;
left:45%;

font-size:70px;

}


#satellite {

position:absolute;
top:120px;
right:80px;

font-size:80px;

animation:pulse 2s infinite;

}


@keyframes pulse {

50% {
filter:
drop-shadow(0 0 20px cyan);
}

}



#terminal {

position:absolute;

top:5%;
left:5%;
right:5%;
bottom:5%;

background:
rgba(0,0,30,.88);

border:
3px solid #00ff66;

padding:25px;

box-shadow:
0 0 30px #00ff66;

}


h1 {

text-align:center;
color:#ffff00;

}



#sceneText {

font-size:19px;

line-height:1.5;

height:220px;

overflow:auto;

}



#budget {

position:absolute;

right:25px;
top:100px;

width:300px;

border:
2px solid #00ff66;

padding:10px;

background:#001;

}



table {

width:100%;

}


td {

padding:4px;

}



#choices {

position:absolute;

bottom:25px;

left:25px;

}



button {

background:black;

border:
2px solid #00ff66;

color:#00ff66;

padding:12px;

margin:5px;

font-family:inherit;

font-size:16px;

cursor:pointer;

}


button:hover {

background:#00ff66;

color:black;

}


.good {

color:#00ffff;

}


.bad {

color:#ff4444;

}
